@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.App {
  text-align: center;
}

.logo {
  background-color: transparent;
  color: lightgray;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  outline: none;
}

.logout {
  background-color: transparent;
  color: lightgray;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
